<div class="hero" style="background-image: url(https://wallpaperaccess.com/full/445458.jpg);">
    <div class="container">
        <form class="find-location">
            <input type="text" name="city" [(ngModel)]="city" placeholder="Find your location...">
            <input type="submit" value="Find" (click)="onClickSearch()">
        </form>
    </div>
</div>
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">{{details[0].dt_txt | date:'fullDate'}}</div>
                    <div class="date">6 Oct</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">{{city}} , {{country}}</div>
                    <div class="degree">
                        <div class="num">{{details[0]['main'].temp | number : '1.0-0'}}  <sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <img  src="http://openweathermap.org/img/w/{{details[0]['weather'][0].icon}}.png" alt="">
                        </div>	
                    </div>
                    <span><img src="../../assets/images/icon-umberella.png" alt="">{{details[0]['main'].humidity}} %</span> <!-- I should change the icon-->
                    <span><img src="../../assets/images/icon-wind.png" alt="">{{details[0]['wind'].speed}} m/s</span>
                    <span><img src="../../assets/images/icon-compass.png" alt="">{{details[0]['main'].pressure}}  hPa</span>
                </div>
            </div>
            <div class="forecast"  *ngFor="let item of details">
                <div class="forecast-header">
                    <div class="day">{{item.dt_txt | date:'fullDate'}}</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img  src="http://openweathermap.org/img/w/{{item['weather'][0].icon}}.png" alt="">
                    </div>
                    <div class="degree">{{item['main'].temp_max}}<sup>o</sup>C</div>
                    <small>{{item['main'].temp_min}}<sup>o</sup></small>
                </div>
            </div>
        </div>
    </div>
</div>